<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="qss_googleauth_enable" xsi:type="object">QSS\GoogleAuth\Console\Command\EnableCommand</item>
                <item name="qss_googleauth_disable" xsi:type="object">QSS\GoogleAuth\Console\Command\DisableCommand</item>
            </argument>
        </arguments>
    </type>
</config>