<!--@subject New secret code was generated for your store@-->
<!--@vars {
"var secret":"Secret",
"var qrcode":"QRCode"
} @-->
<html>
    <body>
        <p>
            {{trans "Sender of this message generated the following secret code for two-factor authentication: %secret" secret=$secret}}
        </p>
        <p>
            {{trans "Or you can just scan this QR code with your Google Authenticator app:"}}
        </p>
        <p>
            <img src="{{var qrcode|raw}}"/>
        </p>
    </body>
</html>