<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="qss_googleauth" translate="label" type="text" sortOrder="710" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Google Authenticator</label>
            <tab>advanced</tab>
            <resource>QSS_GoogleAuth::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="generate" translate="label" sortOrder="2" type="text" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Generate</label>
                    <comment>(Re)generate secret code. (It will be sent to all admin users.)</comment>
                    <frontend_model>QSS\GoogleAuth\Block\System\Config\Generate</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="qr_code" translate="label" sortOrder="3" type="text" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Secret</label>
                    <comment>Scan this QR code with your Google Authenticator app or enter the secret code, in order to be able to generate login codes.</comment>
                    <frontend_model>QSS\GoogleAuth\Block\System\Config\QRCode</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
